ul {
  list-style: none;
}

.App {
  text-align: center;
}

form {
  margin: 0 auto;
  width: 450px;
}

.form-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.nav-list {
  display: flex;
}

.nav-list > li {
  margin-right: 10px;
}


