@import './variables.scss';

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;

  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 16px;
  color: #4D4D4D;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

ul, li {
  margin: 0;
  padding: 0;

  list-style: none;
}

p {
  margin: 0;
}

#root {
  height: 100%;
}

// Blocks
@import './blocks/app';
@import './blocks/authpage';
@import './blocks/form';
@import './blocks/input';
@import './blocks/button';
@import './blocks/brand';
@import './blocks/header';
@import './blocks/logo';
@import './blocks/nav';
@import './blocks/mainpage';
@import './blocks/map';
@import './blocks/profilepage';
@import './blocks/profile';
@import './blocks/card';
@import './blocks/car';

