.authpage {
  display: grid;
  grid-template-columns: 30% 1fr;
  grid-template-rows: auth;
  grid-template-areas: 'logo auth auth';
  height: 100%;
}

.authpage__left {
  grid-area: logo; 
  height: 100%;
  position: relative;

  background-color: #1C1A19;
  color: $color_white;
}

.authpage__right {
  grid-area: auth;

  background-image: url('../../img/map-baackground.jpg');
}

