.form {
  padding: 48px 102px;
  width: 580px;

  background-color: $color_white;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.form__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: relative;
}

.form__title {
  margin-bottom: 2.65rem;

  font-size: 36px;
  font-weight: 700;
  text-align: center;
}

.form__link {
  color: $color_orange;
  font-weight: 400;
  text-decoration: none;

  &:hover {
    color: #FFA84F;
  }
}
