.form {
  padding: 48px 102px;
  max-width: 580px;
  width: 100%;

  background-color: $color_white;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

  transform: translateY(-50%);

  position: absolute;
  top: 50%;
  z-index: 2;

  &--mainpage {
    padding: 16px 20px;
    max-width: 445px;
    top: 225px;
    left: 24px;
  }

  &--profile {
  padding: 60px 44px;
  max-width: 850px;
  width: 100%;
  }
}

.form__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: relative;
}

.form__title {
  margin-bottom: 2.65rem;

  font-size: 36px;
  font-weight: 700;
  text-align: center;

  &--profile {
    margin-bottom: 0;
  }
}

.form__desc {
  margin-top: 16px;

  text-align: center;
  font-weight: 400;
  line-height: 1.5;
}

.form__link {
  color: $color_orange;
  font-weight: 400;
  text-decoration: none;

  &:hover {
    color: #FFA84F;
  }
}

.form__selectors {
  display: flex;
  flex-direction: column;
}
